Build/KeePass/*/*
Build/KeePass/*

Build/KeePassLib/*/*
Build/KeePassLib/*

Build/KeePassLib_Distrib/*/*
Build/KeePassLib_Distrib/*

Build/KeePassLibSD_Distrib/*/*
Build/KeePassLibSD_Distrib/*

Translation/KeePass.exe
Translation/KeePass.exe.mdb
Translation/TrlUtil/KeePass.exe
Translation/TrlUtil/KeePass.exe.mdb
Translation/TrlUtil/TrlUtil.exe
Translation/TrlUtil/TrlUtil.mdb
